{
  "token": "",
  "oauth_url": "",
  "prefix": "",
  "owner": "",
  "osu_api_key": "",
  "maluser": "",
  "malpass": "",
  "anilistid": "",
  "anilistsecret": "",
  "osuname": "",
  "osu_irc_password": "",
  "twitch_client_id": "",
  "cleverbot_api_user": "",
  "cleverbot_api_key": ""
}
